$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

$position-values: (
  0: 0,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  100: 100%
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
);

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);

@import "./node_modules/bootstrap/scss/bootstrap.scss";

