$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

$position-values: (
  0: 0,
  10: 10%,
  15: 15%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  100: 100%
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
);

.card-custom {
    border: none !important;
    border-radius: 10px !important;
    height: fit-content !important;
  }
.card-shadow{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.dots{
    width:max-content;
    object-fit: cover;
    overflow: hidden
}


@import "./node_modules/bootstrap/scss/bootstrap.scss";


